.Home {
  display: flex;
  background-image: linear-gradient(to right, #fd7887, #fc9579);
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.container {
  width: 40%;
  height: 60%;
  background-color: white;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.innerWrapper {
  height: 50%;
  width: 50%;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.buttonContainer {
  background-color: #ff4e54;
  border-color: #ff4e54;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.35rem;
  align-self: center;
}
.text {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #687281;
  text-align: left;
  background-color: #fff;
}
.input {
  height: 12%;
  width: 100%;
  border-radius: 25px;
  border: 2px solid #dedede;
  padding: 3%;
}
.input:focus {
  outline: none;
}
