.left {
  display: flex;
  background-image: linear-gradient(to right, #fd7887, #fc9579);
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 100%;
  flex-direction: column;
}
.circle {
  display: flex;
  height: 110px;
  width: 110px;
  border-radius: 55px;
  background-color: black;
  justify-content: center;
  align-items: center;
}
.zippy {
  color: #ff4e54;
  font-size: 30px;
}
.topRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.title {
  color: white;
  font-size: 8vh;
  font-weight: bold;
}
.hashtag {
  color: white;
  font-size: 4vh;
  font-weight: bold;
}
.bottomRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 95%;
}
.campaign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
